@import './utilities/variables.scss';

@import './pages/index.scss';
@import './pages/portfolio.scss';
@import './pages/sobre.scss';

@import './components/Button.scss';
@import './components/Label.scss';
@import './components/Layout.scss';
@import './components/Card.scss';
@import './components/Circles.scss';
@import './components/Skills.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #222;
    color: #05092a;
}

a {
    color: inherit;
    text-decoration: none;
}
